body{
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: poppins;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: 2px solid black;
    box-shadow: 2px 2px gray;
    margin-left:10px;
    margin-right:1000;
    margin-top: 10px;
    padding: 5px;
}
.fields{
    flex-direction: row;
    border: 1px solid rgb(50, 80, 4);
    padding:5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    }
