.text-center p-3{
  background-color: rgba(0, 0, 0, 0.2);
}
#body{
  padding: 0px;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.explosion {
  animation: explode 0.5s ease forwards;
}

.but-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}